.App {
  margin: auto;
  padding: 10px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h2 {
  color: orange;
  padding: 15px;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: blueviolet;
}
.myForme {
  width: auto;
  background-color: #e7e7e7;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}

.formFild {
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border-radius: 5px;
  box-sizing: border-box;
}

.formFild:hover {
  background-color: rgb(165, 253, 253);
}
.dropLeble {
  text-align: left;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  color: blue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.myButton {
  font-size: 12px;
  padding: 12px 28px;
  background-color: white;
  border-radius: 8px;
  color: black;
  box-shadow: 3px 3px gray;
  border: 2px solid #008cba;
  transition-duration: 0.4s;
}

.myButton:hover {
  background-color: #008cba;
  color: white;
}

.myButton1 {
  font-size: 12px;
  padding: 10px 10px;
  margin: 10px;
  box-shadow: 3px 3px gray;
  background-color: white;
  border-radius: 8px;
  color: black;
  border: 2px solid rgb(252, 6, 6);
  transition-duration: 0.4s;
}

.myButton1:hover {
  background-color: rgb(248, 10, 10);
  color: white;
}

.myButton2 {
  font-size: 12px;
  padding: 10px 10px;
  margin: 10px;
  box-shadow: 3px 3px gray;
  background-color: white;
  border-radius: 8px;
  color: black;
  border: 2px solid rgb(30, 30, 252);
  transition-duration: 0.4s;
}

.myButton2:hover {
  background-color: rgb(29, 29, 248);
  color: white;
}

.myList {
  list-style: none;
}
